.input {
  width: 90vw;
  max-width: 450px;
  margin: 50px auto;
  margin-top: 100px;
  padding: 8px 10px 12px 15px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  background-color: #fff;
}

::placeholder {
  font-weight: 600;
}

.input input,
.input textarea {
  border: none;
  width: 100%;
  outline: none;
  word-break: break-all;
  font-size: 18px;
}

.input input {
  font-weight: 600;
}

.input textarea {
  height: auto;
  display: inline-block;
  resize: none;
  font-size: 15px;
  margin: 10px 0 5px 0;
  min-height: 50px;
}
.input textarea::-webkit-scrollbar {
  display: none;
}

.addButton {
  text-align: right;
  background-color: #ffd32a;
  border: none;
  padding: 3px 10px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.input-botttom {
  transition: all 0.4s ease;
}
