.note {
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  height: auto;
  background-color: #fff;
  min-width: 300;
}

.note p {
  margin: 15px 0;
}

.buttons {
  display: flex;
}

.iconButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: 500;
}
.iconButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.note textarea,
.note input {
  border: none;
  width: 100%;
  outline: none;
  word-break: break-all;
  font-size: 24px;
}

.note input {
  font-weight: 700;
}
.note textarea {
  height: auto;
  display: inline-block;
  resize: none;
  font-size: 16px;
  margin-top: 10px;
  min-height: 50px;
}
.note textarea::-webkit-scrollbar {
  display: none;
}
