.notes {
  width: 90vw;
  max-width: 998px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
  padding-bottom: 40px;
}

.notes > * {
  align-content: flex-start;
  height: auto;
}

.noNotes {
  text-align: center;
  color: #807d7d;
  margin-top: 100px;
}

.noNotes h2 {
  font-weight: 500;
  font-size: 20px;
}
