.note {
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  height: auto;
  background-color: #fff;
  min-width: 300;
}

.note h2 {
  font-size: 22px;
}
.note p {
  margin: 15px 0;
  word-wrap: break-word;
  font-size: 15px;
}

.buttons {
  display: flex;
}

.iconButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: 500;
}
.iconButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.note textarea,
.note input {
  border: none;
  width: 100%;
  outline: none;
  word-break: break-all;
  font-size: 22px;
}

.note input {
  font-weight: 700;
}
.note textarea {
  min-height: 26px;
  /* height: auto; */
  display: inline-block;
  resize: none;
  font-size: 15px;
  margin-top: 15px;
}
.note textarea::-webkit-scrollbar {
  display: none;
}